/*
Style Name: CSS GRID Review 
Description: Quatro - Fruit Sparkling Water
Author: Nathalya Menezes and Tallyta Triollo
Version: 1.0
Tags: GRID, Build, Be Awesome
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip-path: inset(1px 1px 1px 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip-path: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* -------------
  Reset
-------------*/

body {
	margin: 0;
	padding: 0;
	color: #626262;
	font-family: 'Sanchez', serif;
	font-size: 16px;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input, textarea {
	display: block;
	margin: 0;
	padding: 0;
}

.hidden {
    display: none;
}

.box-model {
    margin: 1rem;
    padding: 1rem;
    background: #000;
}

.margin-left {
    margin-left: 1em;
}

.margin-tb {
    margin: 2em 0 5em;
}

.border-top {
    border-top: 1px solid #070707;
    padding-top: 1.5em;
}

.grey-border-top {
     border-top: 1px solid #ccc;
}

/*------- Floats --------*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*------- End Floats --------*/

/* _____________________________________

   02. CSS Grid
   _____________________________________ */

   @supports (grid-area: auto) {

    .site {
        max-width: none;
    }

    /*------------ Grid Items ------------*/

    .head, .main > *, .foot {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .one-item {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        row-gap: 2em;
        column-gap: 2em;
    }

    .two-items {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        row-gap: 2em;
        column-gap: 2em;
    }

    .three-items {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        row-gap: 2em;
        column-gap: 2em;
    }

    .four-items {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        row-gap: 2em;
        column-gap: 2em;
    }    

    .six-items {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        row-gap: 2em;
        column-gap: 2em;
        padding-bottom: 3em;
        margin-bottom: 3em;
    }

    #more-btn {
        margin-left: auto;
        margin-right: auto;
    }

    /* .contact-override {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
        grid-column: 1 / span 4;
        background: #f4f4;
        border-bottom: 1px solid #ccc;
    } */

    /*------------  End Grid Items ------------*/

    /*------------ Start Nav Styling ------------*/

    header {
        position: sticky;
        background-color: #fff;
        top: 0px;
        border-bottom: 1px solid #e6e6e6;
        box-shadow: 0px 5px 8px #888;
        z-index: 9999999;
    }
		
		.nav {
            display: inline;
			grid-column: 2 / span 3;
			padding-top: 4em;
			margin: 0;
		}

        .logo {
            margin-left: 2em;
            margin-top: 1em;
        }

		nav ul {
			text-decoration: none;
			text-align: end;
		}

		nav ul li {
			display: inline;
			margin-right: 6em;
		}

		header nav ul li:last-child {
			margin-right: 0em;
		}

		nav ul li a {
			color: #070707;
			font-size: 2em;
		}

		/* nav ul li a:hover  {
			padding-bottom: .5em;
			border-bottom: 3px solid #070707;
		} */

        .nav ul {
            float: left;
        }

        .social_Media {
            float: right;
            text-align: right;
            padding-right: 3em;
            padding-bottom: 1em;
        }

        .social_Media a {
            margin: 0 10px 0 10px;
        }

		/*------------ End Nav Styling ------------*/

}

/*------------ Start Hero ------------*/

.hero {
    margin: 0;
    padding-bottom: 3em;
}

.hero-img img {
    width: 100%;
}

.hero-img {
    display: grid;
    grid-column: span 4;
    margin-bottom: 0em;
}

.hero-img > * {
    grid-column: 1;
    grid-row: 1;
}

.hero-img h2, .hero-img h3 {
    background: #fff;
    padding: 1em 1.75em;
    font-size: 1.5em;
    font-weight: 300;
}


.hero-img h2.left, .hero-img h3.left {
    align-self:flex-end;
    justify-self:start;
    margin-left: 6em;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.hero-img h2.right, .hero-img h3.right, .farms-fruits-quote {
    align-self: flex-end;
    justify-self: end;
    margin-right: 6em;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.quote-right{
    background: #fff;
    align-self: center;
    justify-self: end;
    margin-right: 6em;
    border-top-right-radius: 25px;

}

.quote-right{
    background: #fff;
    align-self: center;
    justify-self: start;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 6em;
    padding: 2em;
    border-radius: 2em;
}

.contact-item {
    padding: 2em;
}

.over-image-text {
    text-transform: uppercase;
    font-size: 5em;
    margin-top: auto;
    margin-bottom: auto;
}

.flavours-btn {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.flavours-btn {
        display: block;
        width: 160px;
        background-color: #000;
        padding: 15px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 29px;
}

.farms-fruits-quote {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.border-top-bottom{
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding-top: 45px;
}

.bckgd-color {
    background: #e6e6e6;
    padding-bottom: 5em;
    padding-top: 3em;
}

/*------------ End Hero ------------*/

/* =================Start Buttons =============== */
.standard-button {
    display: block;
    width: 160px;
    /* background-color: #000; */
    padding: 15px;
    text-align: center;
    margin: auto;
    /* color: #fff; */
    text-decoration: none;
    border: none;
    border-radius: 29px;
}

.standard-button.black-button {
    background: #000;
    color: #FFF;
}

.standard-button.white-button {
    background: #FFF;
    color: #000;
}

#more-btn, #cocktails-btn {

    display: block;
    width: 160px;
    background-color: #000;
    padding: 15px;
    text-align: center;
    margin: auto;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 29px;
}
/* =================Start Buttons =============== */


/*-----------footer---------------*/
#footer-section ul li a {
    font-size: 1em;
}

/* .contact-zap {
    position: sticky;
    right: 2em;
    bottom: 2em;
} */

footer {
    background: #d3d3d3;
}

footer nav ul {
    text-align: start;
}

/*-----------End footer---------------*/


.mb-2-em{
    margin-bottom: 2em;
}

.mt-2-em{
    margin-top: 2em;
}

.mb-4-em{
    margin-bottom: 4em;
}

.mt-4-em{
    margin-top: 4em;
}

.ml-2-em {
    margin-left: 2em;
}

.mr-2-em {
    margin-right: 2em;
}

.center-text {
 text-align: center;
}


.pull-front {
    z-index: 999;
}

#cocktails h2.label {
    align-self: center;
    justify-self: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#cocktails h2 {
    background: #fff;
    padding: 1em 1.75em;
    font-size: 1.5em;
    font-weight: 300;
    z-index: 1;
    margin-top: -3em;
    position: relative;
    text-align: center;
}

#cocktails img {
    z-index: 0;
    position: relative;
}

.subscribe {
    position: fixed;
    top: 20em;
    right: -5%;
    transform: rotate(-90deg);
    background-color: #E2E5De;
    border-radius: 20px;
    height: 70px;
    width: 261px;
    border-radius: 21px 21px 0 0;
    min-width: 200px;
}


.rotate h2 {
    font-weight: bold;
    padding: 17px 33px 61px 16px;
    color: #21759b;
    padding: 6px;
    margin: 10px;
}

.subscribe .rotate {
    display: inline-flex;
   
}

.rotate img {
    transform: rotate(90deg);
    padding: 13px;
    width: 39px;
    border-radius: 20px 0px 0px 14px;
    background-color: #f5f5f5;
    height: 39px;
  }


/*======== Begin story.html ========*/
#our-story-description {
    padding-top: 4em;
    padding-bottom: 4em;
    background: #aaa;
}

#our-story-description p {
    color: #fff;
}

#our-product-image {
    background: #ccc;
    border-radius: 4em 0 0 4em;
}

/*======== End story.html ========*/

/*======== Begin contact.html ========*/
#contact-form {
    background: #aaa;
}
#contact-form input[type=text], #contact-form textarea {
    margin: auto;
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 3em;
    border: 1px solid #aaa;
    width: 40em;
}
/*======== End story.html ========*/